<!-- templates/PriorityTask/index.html -->
{% extends "PriorityTask/base.html" %}
{% load static %}

{% block header %}
<div class='week-header'>
  {% for day in date_map %}
  <!---他の日を押したらそこにページが遷移する機能を明日作る-->
  <a href="">
    <div class='week-day{% if day.isToday %} today {% endif %}'>
      <div class='day-number'>
        {{ day.date|date:"j"}}
      </div>
      <div class='week-day'>
        {{ day.weekday }}
      </div>
      {% if day.memo %}
      <div class='memo-dot'></div>
      {% endif %}  
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}

{% block content %}
<h2>今日のタスクを追加しよう</h2>

<!-- タスク追加フォーム -->
<div class="task-form-container">
  <form action="{% url 'PriorityTask:add' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">追加</button>
  </form>
</div>

<!-- 現在のタスク一覧 -->
<h3>今日のタスク</h3>
{% for day in date_map %}
  {% if day.isToday == True %}
    {% if day.memo %}
      <div>
        <p>{{ day.memo.task1 }}</p>
        <p>{{ day.memo.task2 }}</p>
        <p>{{ day.memo.task3 }}</p>
      </div>
      <a href="{% url 'PriorityTask:edit' task_id=day.memo.id %}">編集</a>
      <form action="{% url 'PriorityTask:delete' task_id=day.memo.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" onclick='return confirm("本当に削除しますか？")'>削除</button>
      </form>
      </div>
    {% else %}
      <p>まだタスクがありません。</p>
    {% endif %}
  {% endif %}
{% endfor %}

{% endblock %}
